html {
  font-family: sans-serif;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a {
  color: rgba(25, 26, 27, 1);
  text-decoration: none;
}

p {
  font-size: 24px;
  line-height: 32px;
}
/*Code for 1440px*/
p {
  font-size: 20px;
  line-height: 28px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h3,
.h3 {
  font-family: "GT America Standard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
}
/*Code for 1440px*/

h3,
.h3 {
  font-size: 40px;
  line-height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "GT America Standard", sans-serif;
  text-rendering: optimizeLegibility;
}

.layout {
  display: block;
  position: relative;
  min-height: 90vh;
  background-color: #fff;
  padding-bottom: 1rem;
}

body {
  text-rendering: optimizespeed;
  line-height: 1.5;
  font-family: "Segoe", sans-serif;
  margin: 0;
}

.footer {
  padding: 40px 20px;
  color: white;
  background: black;
  position: relative;
  padding-bottom: 60px;
  color: white;
  background-color: #000000;
  font-family: "GT America Standard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

/*Code for 1440px*/
.footer {
  font-size: 16px;
  line-height: 24px;
}

.footer a {
  color: white;
  display: block;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  text-decoration: underline;
}

.footer #break {
  margin-bottom: 30px;
}

.footer__inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1900px;
  position: relative;
  padding-bottom: 100px;
}

.footer-title {
  font-size: 40px;
}

/*Code for 1440px*/
.footer-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.footer #copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-column {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
/* 
@media screen and (max-width: 1440px) {
  .footer-column {
    width: 15%;
  }
}
@media screen and (max-width: 991px) and (min-width: 769px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 180px;
  }
  .footer-column {
    width: 100%;
    flex: 30%;
    margin-right: 80px;
  }
}

@media screen and (max-width: 768px) and (min-width: 621px) {
  .footer-column:nth-child(1),
  .footer-column:nth-child(3) {
    width: calc(12%);
  }
  .footer-column:nth-child(2),
  .footer-column:nth-child(4) {
    width: calc(70%);
    margin-right: 0;
  }
  .footer-column {
    margin-right: 80px;
  }

  .footer__inner {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 620px) {
  .footer__inner {
    padding-bottom: 180px;
  }
  .footer-column {
    width: calc(50% - 83px);
    margin-right: 80px;
  }

  .footer-column-copyright {
    right: unset;
    left: 0;
  }
} */

.abstract-logo-footer {
  width: 138px;
  margin-bottom: 20px;
}

.footer p {
  margin: 0;
}

/* .footer__col {
  position: relative;
}

@media (min-width: 768px) {
  .footer__col {
    display: table-cell;
    vertical-align: top;
  }
}

@media (min-width: 768px) {
  .footer__social-links {
    margin-bottom: 0;
  }
}

.footer__col--side {
  @media (--screen-sm) {
    text-align: right;
  }
} */

.footer-social-link {
  display: inline-block;
  width: calc(16px * 1.9);
  height: calc(16px * 1.9);
  font-size: 16px !important;
  line-height: 30px !important;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.footer-social-link:before {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: FontAwesome;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-social-link,
.footer-social-link:active,
.footer-social-link:hover,
.footer-social-link:focus {
  color: #fff;
  opacity: 0.4;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  opacity: 1;
}

.footer-social-link + .footer-social-link {
  margin-left: calc(10px / 2);
}

.layout {
  position: relative;
  /*   min-height: 90vh; */
  background-color: #fff;
  padding-bottom: 1rem;
}

/* *, ::before, ::after {
  box-sizing: border-box;

* {
    box-sizing: border-box;
  } */

.container-inner {
  max-width: 1900px;
  margin: 0 auto;
  width: 90%;
}

.footer #break {
  margin-bottom: 30px;
}

b,
strong {
  font-weight: bold;
}

.container {
  padding-right: calc(15px * 2);
  padding-left: calc(250px * 2);
}
.category-list {
  margin-top: 8rem;
  padding-left: 0;
}
.ca_li_items {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(15px * -1);
  margin-left: calc(15px * -1);
}
.ca-l-item {
  min-height: 115px;
  width: 50%;
  position: relative;
  display: flex;
  margin-bottom: 3rem;
  padding-right: 15px;
}

.innerhome {
  padding: inherit;
  display: list-item;
  max-width: 1600px;
  width: 80% !important;
}

.ca-li-icon {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.ca-li-svg-icon {
  max-height: 120px;
  margin-right: 30px;
}

.a-link {
  font-size: 20px;
  line-height: 28px;
}

.content {
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 20px;
}
.header {
  font-size: 24px;
  margin: 48px 0px 16px;
  font-weight: 700;
  line-height: 28px;
}
img {
  vertical-align: middle;
}

.hero-unit {
  display: block;
  position: relative;
  height: 397px;
  width: auto;
  box-sizing: border-box;
  background-color: rgb(218, 219, 241);
  color: rgb(255, 255, 255);
  font-family: "GT America Standart", sans-serif;
  font-size: 20px;
  line-height: 30px;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  padding-bottom: 115px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  text-size-adjust: 100%;
}

.hero-unit_content {
  position: relative;
  box-sizing: border-box;
  height: 202px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 720px;
  width: 720px;
  z-index: 2;
}

.hero-unit_title {
  box-sizing: border-box;
  height: 120px;
  width: 720px;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 3;
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -4px;
  line-height: 120px;
  text-align: center;
  text-size-adjust: 100%;
}

.hero-unit_search-box {
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  height: 66px;
  width: 720px;
  max-width: 720px;
  z-index: 3;
  font-size: 20px;
  line-height: 30px;
}

#query {
  box-sizing: border-box;
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 720px;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 32px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-size-adjust: 100%;
  word-spacing: 0px;
  background-clip: padding-box;
}

#arrow-svg {
  position: absolute;
  /* bottom: -5px; */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 15px;
  top: 50%;
  /* height: 36.2344px; */
  width: 28px;
  z-index: 100;
  /* vertical-align: middle; */
  transform: translateY(-50%);
  /* margin-bottom: 390px;
  margin-right: 80px; */
}

#arrow-svg:hover {
  fill: rgb(6, 75, 224);
}

.searchbar {
  position: relative;
}

body {
  margin: 0;
}

header {
  font-family: "GT America Standard", sans-serif;
  background-color: #000;
  width: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1900px;
  margin: auto;
  width: 90%;
  background-color: #000;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  a {
    color: #fff;
    text-decoration: none;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.abstract-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 4px;
}
.abstract-link:hover {
  opacity: 80%;
  color: (0, 0, 0, 0.8);
}

.help-link {
  border-left: 2px solid #fff;
  margin: 0px 0 0 0.8rem;
  padding: 2px 0 4px 0.8rem;
}

.help-link:hover {
  text-decoration: underline;
}

nav div {
  display: flex;
}

button {
  font-family: "GT America Standard", sans-serif;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 22px;
  margin-left: 1rem;
}

.request-btn {
  color: #fff;
  background-color: #191a1b;
  border: 1px solid #fff;
}

.signin-btn {
  background: #4c5fd5;
  color: #fff;
  border-color: #4c5fd5;
  border-style: none;
}
.signin-btn:hover {
  background-color: #fff;
  color: #000;
}

.abstract-logo {
  width: 38px;
  height: 2rem;
}

.arrow-svg {
  width: 3%;
}
